@import 'utils/variables';
@import 'components/type';

body{
    background: url(../assets/images/paper-texture.jpg);
    padding: 0;
    margin: 0;
}
.logo{
    width: 3em;
}
.custom{
    margin: 0 auto;
    box-sizing: border-box;
    height: 80vh;
    width: 80%;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    &__optionpanel{
        grid-column: span 2 / span 2;
        grid-row: span 4 / span 4;
        grid-row-start: 2;
    }
    &__viewport{
        background-color: white;
        grid-column: span 3 / span 3;
        grid-row: span 3 / span 3;
        grid-column-start: 3;
        grid-row-start: 2;
    }
    &__controlpanel{
        grid-column: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 5;
    }
    &__total{
        grid-column-start: 5;
        grid-row-start: 5;
    }
}
.persoviewport{
    width: 50vw;
    height: 50vh;
    background-color: red;
}
.landing{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#FF00A138, #FF00A100);
    &__nav{
        box-sizing: border-box;
        padding: $space-l $space-xl;
        z-index: 2;
        position: fixed;
        top: 0%;        
        width: 100vw;
        height: $space-2xl;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
    }
    &__actions{
        display: none;
    }
    &__icon{
        height: 1.25em;
    }
    &__links{
        display: none;
    }
    &__logo{
        width: 60vw;
        margin-bottom: $space-xl;
    }
    &__burgermenu{
        transition: 2s;
        box-sizing: border-box;
        transform: translate(-100vw);
        padding: $space-l;
        position: absolute;
        z-index: 10;
        text-align: end;
        width: 100vw;
        height: 100vh;
        font-weight: 600;
        font-size: $step-2;
        backdrop-filter: blur(20px);
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        &links{
            display: flex;
            flex-flow: column wrap;
            gap: $space-xl;
            list-style: none;
        }
    }
    &__text{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.icon{
    height: $step-1;
}
.section{
    box-sizing: border-box;
    padding: $space-xl;
    width: 100%;
    margin: 0 auto;
}
.active{
    transition: 2s;
    transform: translate(100vw);
}
.textandcta{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}
.texticon{
    display: flex;
    flex-flow: row;
    align-items: baseline;
    gap: $space-xs; //changer en 2XS
}
@media(min-width : 800px){
    .landing{
        &__nav{
            border-radius: $border-radius-section;
            padding: 0 $space-m;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: $space-xl;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
        }
        &__logo{
            width: 40vw;
            margin-bottom: $space-xl;
        }
        &__actions{
            display: flex;
            flex-flow: row nowrap;
            gap: $space-m;
        }
        &__links{
            display: flex;
            flex-flow: row nowrap;
            list-style: none;
            gap: $space-xl;
        }
        &__burgermenubtn{
            display: none;
        }
    }
    .section{
        width: 70%;
    }
    .textandcta{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    }

    
}