@import 'utils/variables';
@import 'components/type';

body{
    background: url(../assets/images/paper-texture.jpg) ;
    padding: 0;
    margin: 0;
}
.logo{
    width: 3em;
}
.custom{
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    height: 75vh;
    width: 80%;
    margin: 7.5% auto 0;
    gap: $space-l;
    &__left{
        width: 40vw;
        height: 100%;
    }
    &__right{
        gap: $space-s;
        width: 60vw;
        height: 100%;
    }
    &__optionpanel{
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
    &__shape{
        width: $space-xl;
        height: $space-xl;
        border-radius: $border-radius;
        border: solid $primary 2px;
        &--square{
            background: url(../assets/images/SVG/custom/logos/square_logo.svg) center no-repeat;
            background-size: 48%;
        }
        &--stiletto{
            background: url(../assets/images/SVG/custom/logos/stiletto_logo.svg) center no-repeat;
        }
        &--almond{
            background: url(../assets/images/SVG/custom/logos/almond_logo.svg) center no-repeat;
        }
        &--coffin{
            background: url(../assets/images/SVG/custom/logos/coffin_logo.svg) center no-repeat;
        }
    
    }
    &__sidenav{
        margin: $space-l 0;
        width: 25%;
        border-right: solid 2px $primary;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    &__step{
        border-radius: $border-radius;
        transition: 0.1s;
        padding: $space-2xs;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-bottom: $space-xs;
        & img{
            width: $space-m;
            margin-bottom: $space-xs;
        }
        &:hover{
            transition: 0.1s;
            background-color: white;
        }

    }
    &__options{
        box-sizing: border-box;
        width: 65%;
        padding: $space-l 0 $space-m $space-xs ;
    } 
    &__viewport{
        border-radius: $border-radius-section;
        
        width: 100%;
        height: 80%;
    }
    &__bottom{
        display: flex;
        flex-flow: row nowrap;
        align-items: last baseline;
        justify-content: space-between;
        text-align: end;
        margin-top: $space-s;
    }
    &__controlpanel{
        width: 70%;
        height: 100%;
    }
    &__next{
        margin: 0;
    }
}
.persoviewport{
    width: 50vw;
    height: 50vh;
    background-color: red;
}
.landing{
    width: 100vw;
    height: 100vh;
    background: #FF00A138;
    background: radial-gradient(circle,rgba(255, 0, 161, 0.32) 0%, rgba(255, 0, 161, 0) 48%, rgba(255, 0, 161, 0) 100%);
    &__nav{
        box-sizing: border-box;
        padding: $space-l $space-xl;
        z-index: 2;
        position: fixed;
        top: 0%;        
        width: 100vw;
        height: $space-2xl;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
    }
    &__links{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &__actions{
        display: none;
    }
    &__icon{
        height: 1.25em;
    }
    &__links{
        display: none;
    }
    &__logo{
        width: 60vw;
        margin-bottom: $space-xl;
    }
    &__burgermenu{
        transition: 2s;
        box-sizing: border-box;
        transform: translate(-100vw);
        padding: $space-l;
        position: absolute;
        z-index: 10;
        text-align: end;
        width: 100vw;
        height: 100vh;
        font-weight: 600;
        font-size: $step-2;
        backdrop-filter: blur(20px);
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        &links{
            display: flex;
            flex-flow: column wrap;
            gap: $space-xl;
            list-style: none;
        }
    }
    &__text{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.collections{
    &__options{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        gap: $space-m;
    }
    &__option{
        width: 100%;
        border-radius: $border-radius-section;
        height: 10vh;
        display: flex;
        flex-flow: column;
        justify-content: end;
        padding: $space-s;
        background-color: red;
        

    }
    &__name{
        color: white;
        margin-bottom: $space-xs;
    }

}
.exemples{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: $space-xl;
    &__slider{
        height: 55vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: $space-2xl;
    }
    &__pics{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: $space-xs;
        height: 100%;
        width: 100%;
        margin-bottom: $space-l;
    }
    &__pic{
        transition: 0.2s;
        border-radius: $border-radius-img;
        width: 15%;
        background-color: aqua;
        &:hover{
            transition: 0.2s;
            width: 30%;
        }
    }
}

.cell{
    transition: 0.2s;
    width: fit-content;
    max-width: $space-xl;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    &:hover{
        cursor: pointer;
        transition: 0.2s;
        transform: translateY(-5%); 
    }
    &:active{
        transition: 0.2s;
        transform: scale(0.9);
    }
}
.products{
    &__options{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: $space-m;
    }
    &__img{
        transition: 0.2s;
        height: $space-7xl;
        width: $space-7xl;
        background-color: green;
        border-radius: $border-radius-img;
        margin-bottom: $space-s;
        
    }
    border-bottom: solid #2247FF80 2px;
}
.desktop{
    display: none;
}
.row{
    display: flex;
    flex-flow: row wrap;
    column-gap: $space-s;
    row-gap: 0;
    margin-bottom: $space-s;
}
.choice{
    width: $space-xl;
    height: $space-xl;
    border-radius: $border-radius;
    border: solid $primary 2px;
}
.mobile{
    display: block;
}
.text{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.icon{
    height: $step-1;
    margin-left: 0;
}
.section{
    box-sizing: border-box;
    padding: $space-xl;
    width: 100%;
    margin: 0 auto;
}
.active{
    transition: 2s;
    transform: translate(100vw);
}
.textandcta{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-bottom: $space-l;
    justify-content: center;
}
.texticon{
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: center;
    gap: $space-xs; //changer en 2XS
}

.mobile{
    display: block;
}
.hidden{
    display: none;
}
@media(min-width : 1200px){

    .landing{
        &__nav{
            border-radius: $border-radius-section;
            padding: 0 $space-m;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: $space-xl;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
        }
        &__logo{
            width: 40vw;
            margin-bottom: $space-xl;
        }
        &__actions{
            display: flex;
            flex-flow: row nowrap;
            gap: $space-m;
        }
        &__links{
            display: flex;
            flex-flow: row nowrap;
            list-style: none;
            gap: $space-xl;
        }
        &__burgermenubtn{
            display: none;
        }
    }
    .section{
        width: 70%;
    }
    .textandcta{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    }
    .collections{
        &__cta{
            display: block;
        }
        &__options{
            flex-flow: row;
            gap: $space-xl;
        }
        &__option{
            width:30%;
            height: 30vh;
        }
    }
    .texticon{
        justify-content: start;
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    .text{
        align-items: start;
    }
    .exemples{
        &__slider{
            width: 100%;
        }
    }
    
    .products{
        &__options{
            justify-content: space-between;
            gap: $space-m;
        }
    }
    
}
.notfixed{
    margin: $space-xl  0;
    position: relative;
}